h1{
    color:red;
}
.parrafo1 {
    color: blue;
}
.parrafo2{
    color:green
}

a {
    color: blueviolet; /* Color del enlace por defecto */
  }

  a:hover {
    color: lightcoral; /* Color del enlace cuando el cursor está encima */
  }