h1 {
    color: red;
}

p { 
    color: blue;
}

.titulos {
    color: black;
}

#segundoParrafo {
    color: aqua;
    font-size: 18px;
}

.red {
    color: red;
}

/* Estilos para las cajas */
.caja { 
    border: 5px solid black;
    margin: 30px;
    padding: 10px;
}

.contenido {
    border: 6px solid yellow;
    margin: 40px;
    padding: 10px;
}

